body{
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}
  
a:active {
    color: black;
    color: #0088a9;
}
  
a:visited {
    color: black;
}
/* 
button {
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
    
}

button:hover {
    background-color: rgba(0, 136, 169, 0.7);
} */

.main_application {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.main_menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    position: relative;
    width: auto;
    text-align: center;
}

.button {
    overflow: visible;
    margin: 0;
    padding: 0;
    text-decoration: none;
    letter-spacing: 0;
    border: none;
    outline: 0;
    margin-right: auto;
}

.logo {
    width: 140px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.main_menu__navigation {
    text-decoration: none;
    line-height: 1em;
    overflow: hidden;
}

.main_menu__navigation-buttons {
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.main_menu__navigation-buttons li {
    display: inline-block;
    padding: 0px 20px;
}

.main_menu__navigation-buttons li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.main_menu__navigation-buttons li a:hover {
    color: #0088a9;
}

.main_menu__button-container {
    width: 111px;
    height: 36px;
    background-color: transparent;
    border: 1px solid #2ecc71;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
    
.main_menu__button-container:hover {
    background-color: rgba(0, 136, 169, 0.7);
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    margin-top: 30px;
}

.container:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/POINT-50-FOR\ WHITE\ BG.png) no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
    transform: scale(1.2);
}

.contact{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    margin-top: 30px;
}

.contact::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffff;
    box-shadow: 0px 0px 19px 5px rgba;
}

.contact .left {
    height: 100%;
    background: url(../img/sbg.jpeg) no-repeat center;
    background-size: cover;
}

.left {
    height: 100%;
    background: url(../images/POINT-50-FOR\ WHITE\ BG.png) no-repeat center;
    background-size: cover;
}

.right {
    padding: 25px 40px;
}

h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71
}

p{
    padding: 24px;
    max-width: 760px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.9;
}

.field {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover{
    background-color: rgba(0, 0, 0, 0,1);
}

.field:focus{
    background-color: #ffff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

.area{
    min-height: 150px;

}

/* .btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border: none;
    color: #ffff;
    transition: .3s;
}

.btn:hover{
    background-color: #27ae60
} */




/* Responsiveness */
/* @media only screen and (max-width: 500px){} */